@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Poppins&display=swap');


#heading{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    text-align: center;
    
}

a{
    text-decoration: none;
    color: black
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

#navbar{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

#navbar li{
    margin: 20px;
    list-style: none;
    
}

#navbar a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'poppins';
   
}

h1{
    text-align: center;
    font-size: 30px;
    color:#38101D;
    font-family: 'Poppins', sans-serif;
    border-bottom: black solid 1px ;
    width: 500px;
    
}



@media (max-width: 599px){
    h1{
        font-size: 25px;
        width: 250px;
    margin-left: 24%;
    }
    #heading{
        text-align: center;
    }
}

#container{
    display: flex;
    flex-wrap: wrap;
}

#container div{
    width: 380px;
    margin: 10px;
    padding: 20px;

}

#capt{
    text-align: center;
    font-family: 'Andika New Basic', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 599px){
    #container div{
        width: 280px;
        margin-left: 20px;
        padding: 10px;
        text-align: center;
    }

    
}

@media (max-width: 599px){
    #capt{
        text-align: center  ;
    }
}

#aboutsection{
    color: black;
    text-align: center;
    padding: 20px;
    margin: 20px 20px 0 0;
    justify-content: center;
    height: auto;
    line-height: 1.5em;
}



footer{
    text-align: center;
    background-color: black;
    color:whitesmoke;
    font-size: 15px;
    padding: 10px;
    
}

#activeh, #activea{
    color: #E55786  ;
}

#travel{
    display: flex;
    flex-wrap: wrap;
    background-image: url("img/travel-arrow.png");
    background-repeat: no-repeat;
    margin: 0;
    background-color: blanchedalmond;
    background-size: 40em;
    font-size: 18px;
    line-height: 1.5em;

    
}

#travel > div{
    width: 400px;
    padding: 20px;
    margin: 90px;
}

#travel > div > p{
    margin-top: 25%;
}




@media (max-width: 599px){
    #travel{
        background-size: 30em;
    font-size: 18px;

    }

    #travel > div{
        width: 700px;
        margin-top: 20%;
        
    }

    #travel > div > p{
        padding-bottom: 0;
        height: 20px;
    }
    #travel > div > img{
        width: 300px;
       margin-top: 0;
     
    
       
    }

    #travel{
        margin: 0px;
    }
}

#bake {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-image: url("img/cookie.png");
    background-repeat: no-repeat;
    background-position: 800px -0.45px ;
    background-size: 30em;
    font-size: 18px;

}

#bake > div{
    width: 500px;
    margin: 40px;

}

#bake > div > p{
   margin-top: 50%;
}

@media (max-width: 599px){
    #bake{
    margin: 0;
    font-size: 20px;


    }
    #bake > div{
        width:500px;
        margin: 40px 40px 50px 60px;
    
    }

    #bake > div > p{
        margin-top: 0;
     }
}

#life{
   
    
    background-color: blanchedalmond;
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    

    
}

#life > div{
    width: 400px;
    padding: 20px;
    margin-left: 28%;
    
    text-align: center;
}

#life > div > p{
    margin-top: 25%;
    padding: 40px;
   
}




@media (max-width: 599px){
    #life{
       
        

    }

    #life > div{
        width: 300px;
        
        font-size: 35px;
        margin-top: 20%;
        padding: 50px 50px 20px 20px;
        margin-left: 20%;
        
    }

    #life > div > p{
        padding-bottom: 0;
       
        
    }
    #life > div > img{
        width: 300px;
       
    }

    #life{
        margin: 0px;
    }
}

#viewpaintings{
    background-color: blanchedalmond;
    padding: 20px;
    margin: 0;
}

#viewpaintings p{
    text-align: right;
    margin-right: 25px;
    font-family: "poppins";
    font-size: 25px;
    font-weight: bold;
}

h3{
    text-align: center;
    font-size: 25px;
    font-family: "poppins";
}

h4{
    text-align: center;
    font-size: 40px;
    font-family: 'Great Vibes', cursive;
}

/**colors : pink [ E55786 ] black [ 38101D ] **/
